<div class="icons-bar">
    <div class="icon-navigation">
        <ul class="menu">
              <li class="social-icon" id="linkedin-icon"><a href="http://www.linkedin.com/in/thekenz"><img src="/assets/img/icons/linkedin-icon.png" onmouseover="this.src='/assets/img/icons/linkedin-icon-hover.png'" onmouseout="this.src='/assets/img/icons/linkedin-icon.png'" border="0" alt=""/></a></li>
              <li class="social-icon"id="facebook-icon"><a href="http://www.facebook.com/lolthekenz"><img src="/assets/img/icons/facebook-icon.png" onmouseover="this.src='/assets/img/icons/facebook-icon-hover.png'" onmouseout="this.src='/assets/img/icons/facebook-icon.png'" border="0" alt=""/></a></li>
              <li class="social-icon"id="twitter-icon"><a href="https://www.twitter.com/lolthekenz"><img src="/assets/img/icons/twitter-icon.png" onmouseover="this.src='/assets/img/icons/twitter-icon-hover.png'" onmouseout="this.src='/assets/img/icons/twitter-icon.png'" border="0" alt=""/></a></li>
              <li class="social-icon"><a href="https://www.instagram.com/swugkenny/"><img src="/assets/img/icons/instagram-icon.png" onmouseover="this.src='/assets/img/icons/instagram-icon-hover.png'" onmouseout="this.src='/assets/img/icons/instagram-icon.png'" border="0" alt=""/></a></li>
              <li class="social-icon"><a href="https://www.pinterest.com/lolthekenz/"><img src="/assets/img/icons/pinterest-icon.png" onmouseover="this.src='/assets/img/icons/pinterest-icon-hover.png'" onmouseout="this.src='/assets/img/icons/pinterest-icon.png'" border="0" alt=""/></a></li>
              <li class="social-icon"><a href="https://mail.google.com/mail/?view=cm&fs=1&to=kenncunanan@gmail.com&su=LOVE&body=LOVE YOU"><img src="/assets/img/icons/email-icon.png" onmouseover="this.src='/assets/img/icons/email-icon-hover.png'" onmouseout="this.src='/assets/img/icons/email-icon.png'" border="0" alt=""/></a></li>

        </ul>
        </ul>
    </div>
</div>
