<header class="header">
  <a href="/" class="logo"><img src="/assets/img/thekenzlogo.png"></a>
    <div class="navigation">
        <ul class="menu">
            <div class="nav-button">
              <li class="menu__entry"><a href="{{ '/contact' | prepend: site.baseurl }}">Contact</a></li>
              <li class="menu__entry"><a href="{{ '/data' | prepend: site.baseurl }}">Data</a></li>
              <li class="menu__entry"><a href="{{ '/pictures' | prepend: site.baseurl }}">Pictures</a></li>
              <li class="menu__entry"><a href="{{ '/blog' | prepend: site.baseurl }}">Blog</a></li>
              <li class="menu__entry"><a href="{{ '/projects' | prepend: site.baseurl }}">Projects</a></li>
            </div>
        </ul>
    </div>
</header>
