---
layout: default
---
{% include page/title.html %}
{% include page/icons.html %}
<h1 class="homepage-title"><a href="/blog">Posts.</a></h1>
<!--
<div class="recent-posts">
{% for post in site.posts limit:4 %}
  <div class="blog-item-box">
    <a href="{{ post.url | prepend: site.baseurl }}"><img src="{{ post.title_image }}"></a>
    <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
  </div>
{% endfor %}
</div>
-->
<!-- Carousel -->
				<div class="wrapper" id="new-carousel">

				<div id="portfolio-carousel" class="owl-carousel portfolio-entries">

					<div class="carousel-item">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                                <img src="files/uploads/thumb-g.jpg" alt="SEO IMAGE NAME" />
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><strong>The G Agency</strong></h5>
										<h6>Branding</h6>
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .carousel-item -->

					<div class="carousel-item">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                                <img src="files/uploads/thumb-mexican-sushi.jpg" alt="SEO IMAGE NAME" />
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><strong>Mexican Sushi</strong></h5>
										<h6>Web</h6>
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .carousel-item -->

					<div class="carousel-item">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                                <img src="files/uploads/thumb-power-bananas.jpg" alt="SEO IMAGE NAME" />
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><strong>Power Bananas</strong></h5>
										<h6>Motion</h6>
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .carousel-item -->

					<div class="carousel-item">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                                <img src="files/uploads/thumb-typography.jpg" alt="SEO IMAGE NAME" />
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><strong>Quoting</strong></h5>
										<h6>Web</h6>
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .carousel-item -->

					<div class="carousel-item">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                                <img src="files/uploads/thumb-virgult.jpg" alt="SEO IMAGE NAME" />
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><strong>Virgult</strong></h5>
										<h6>Branding</h6>
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .carousel-item -->

					<div class="carousel-item">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                                <img src="files/uploads/thumb-surf.jpg" alt="SEO IMAGE NAME" />
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><strong>Surf Portraits</strong></h5>
										<h6>Web</h6>
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .carousel-item -->

					<div class="carousel-item">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                                <img src="files/uploads/thumb-hypethistrack.jpg" alt="SEO IMAGE NAME" />
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><strong>Hype this track</strong></h5>
										<h6>Motion</h6>
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .carousel-item -->

					<div class="carousel-item">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                                <img src="files/uploads/thumb-halcyon.jpg" alt="SEO IMAGE NAME" />
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><strong>Halcyon</strong></h5>
										<h6>Web</h6>
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .carousel-item -->

				</div>


<h1 class="homepage-title"><a href="/pictures">Pics.</a></h1>

<h1 class="homepage-title">Quotes.</h1>

<h1 class="homepage-title"><a href="http://www.twitter.com/kennycunanan">Tweets.</a></h1>
