---
layout: default-no-wrapper
---

<!-- PAGE CONTENT -->
<div id="page-content" class="fixed-header">

	<!-- PAGEBODY -->
	<div class="page-body">

		<!-- PORTFOLIO SECTION -->
		<section id="portfolio">
			<div id="portfolio-single" class="section-inner">
				<div class="wrapper clearfix">

				<div class="section-title project-title">
					<h2 class="project-name">{{ page.title }}</h2>
				</div>

				<div class="main-content left-float">
					<!-- GALLERY -->
					<div class="entry-media portfolio-media">
					<div class="flexslider portfolio-slider">
						<ul class="slides">
							<li><img src="{{ page.image_1 }}" alt="SEO IMAGE NAME"/></li>
							<li><img src="{{ page.image_2 }}" alt="SEO IMAGE NAME"/></li>
						</ul>
					</div>
					</div>
					<!-- GALLERY -->
				</div> <!-- END .main-content -->

				<!-- SIDEBAR -->
              	<aside class="right-float">
					<div class="entry-content portfolio-content">
						{{ content }}
					</div>
				</aside>
				<!-- SIDEBAR -->

				</div> <!-- END .wrapper -->

				<div class="spacer spacer-big"></div>

			</div> <!-- END #portfolio-single .section-inner -->
    	</section> <!-- END SECTION #portfolio-->
		<!-- PORTFOLIO SECTION -->

 	</div> <!-- END .page-body -->
	<!-- PAGEBODY -->

</div> <!-- END #page-content -->
<!-- PAGE CONTENT -->
