---
layout: default-projects
---
{% include page/title.html %}

{% include page/projects-explore.html %}

{{ content }}

<div id="portfolio-grid3" class="masonry portfolio-entries clearfix" data-maxitemwidth="370">

  <div class="portfolio-masonry-entry masonry-item design">
    <div class="entry-thumb portfolio-thumb">
      <div class="imgoverlay text-light">
        <a href="portfolio-single-default.html">
          <img src="{{ prepend: site.baseurl }}/files/uploads/thumb-g.jpg" alt="SEO IMAGE NAME" />
            <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
            <h5 class="portfolio-name"><strong>SOURCE Year End Report</strong></h5>
            <h6>Design</h6></div></div>
        </a>
      </div>
     </div>
  </div>
  <!-- END .portfolio-masonry-entry -->

  <div class="portfolio-masonry-entry masonry-item design web">
    <div class="entry-thumb portfolio-thumb">
      <div class="imgoverlay text-light">
        <a href="{{ prepend: site.baseurl }}/work/the-community-space">
          <img src="{{ prepend: site.baseurl }}/files/uploads/thumb-mexican-sushi.jpg" alt="SEO IMAGE NAME" />
            <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
            <h5 class="portfolio-name"><strong>The Community Space</strong></h5>
            <h6>Design & Web</h6></div></div>
        </a>
      </div>
     </div>
  </div> <!-- END .portfolio-masonry-entry -->

  <div class="portfolio-masonry-entry masonry-item data">
    <div class="entry-thumb portfolio-thumb">
      <div class="imgoverlay text-light">
        <a href="portfolio-single-sidebar.html">
          <img src="{{ prepend: site.baseurl }}/files/uploads/thumb-typography.jpg" alt="SEO IMAGE NAME" />
            <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
            <h5 class="portfolio-name"><strong>Creating a Writing Center</strong></h5>
            <h6>Data</h6></div></div>
        </a>
      </div>
     </div>
  </div> <!-- END .portfolio-masonry-entry -->

  <div class="portfolio-masonry-entry masonry-item design">
    <div class="entry-thumb portfolio-thumb">
      <div class="imgoverlay text-light">
        <a href="portfolio-single-default.html">
          <img src="{{ prepend: site.baseurl }}/files/uploads/thumb-power-bananas.jpg" alt="SEO IMAGE NAME" />
            <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
            <h5 class="portfolio-name"><strong>SOURCE Summit Program</strong></h5>
            <h6>Design</h6></div></div>
        </a>
      </div>
     </div>
  </div> <!-- END .portfolio-masonry-entry -->

  <div class="portfolio-masonry-entry masonry-item branding design">
    <div class="entry-thumb portfolio-thumb">
      <div class="imgoverlay text-light">
        <a href="portfolio-single-default.html">
          <img src="{{ prepend: site.baseurl }}/files/uploads/thumb-virgult.jpg" alt="SEO IMAGE NAME" />
            <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
            <h5 class="portfolio-name"><strong>SOURCE Pathways</strong></h5>
            <h6>Design & Branding</h6></div></div>
        </a>
      </div>
     </div>
  </div> <!-- END .portfolio-masonry-entry -->

  <div class="portfolio-masonry-entry masonry-item branding">
    <div class="entry-thumb portfolio-thumb">
      <div class="imgoverlay text-light">
        <a href="portfolio-single-sidebar.html">
          <img src="{{ prepend: site.baseurl }}/files/uploads/thumb-surf.jpg" alt="SEO IMAGE NAME" />
            <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
            <h5 class="portfolio-name"><strong>Claremont Sports Connection Rebrand</strong></h5>
            <h6>Branding</h6></div></div>
        </a>
      </div>
     </div>
  </div> <!-- END .portfolio-masonry-entry -->

</div> <!-- END #portfolio-grid1 -->
<!-- Without Title -->
