---
layout: default-no-wrapper
---

<!-- PAGE CONTENT -->
<div id="page-content" class="fixed-header">

	<!-- PAGEBODY -->
	<div class="page-body">

		<!-- PORTFOLIO SECTION -->
		<section id="portfolio">
			<div id="portfolio-single" class="section-inner">
				<div class="wrapper clearfix">

				<div class="section-title project-title">
					<h2 class="project-name">{{ page.title }}</h2>
				</div>

				<div class="main-content left-float">
					<!-- GALLERY -->
					<div class="entry-media portfolio-media">
					<div class="flexslider portfolio-slider">
						<ul class="slides">
							<li><img src="{{ prepend: site.baseurl }}/files/uploads/g-dark.jpg" alt="SEO IMAGE NAME"/></li>
							<li><img src="{{ prepend: site.baseurl }}/files/uploads/g-light.jpg" alt="SEO IMAGE NAME"/></li>
						</ul>
					</div>
					</div>
					<!-- GALLERY -->
				</div> <!-- END .main-content -->

				<!-- SIDEBAR -->
              	<aside class="right-float">
					<div class="entry-content portfolio-content">
						<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non enim ut enim fringilla adipiscing id in lorem. Quisque aliquet neque vitae lectus tempus consectetur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam at velit nisl. Aenean vitae est nisl.
						</p>
						<h6><strong>Vestibulum ante</strong></h6>
						<p>
						Nunc eu nibh nulla, id cursus arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam at velit nisl. Aenean vitae est nisl.
						</p>
					</div>
				</aside>
				<!-- SIDEBAR -->

				</div> <!-- END .wrapper -->

				<div class="spacer spacer-big"></div>

			</div> <!-- END #portfolio-single .section-inner -->
    	</section> <!-- END SECTION #portfolio-->
		<!-- PORTFOLIO SECTION -->

 	</div> <!-- END .page-body -->
	<!-- PAGEBODY -->

</div> <!-- END #page-content -->
<!-- PAGE CONTENT -->
