---
layout: default
---

<div class="page-body">

       	<!-- PORTFOLIO SECTION -->
	    <section id="portfolio">
			<div id="portfolio-single" class="section-inner">

				<div class="wrapper">
				<div class="section-title project-title">
					<h2 class="project-name">Default Portfolio Single</h2>
						<ul class="single-pagination portfolio-pagination clearfix">
							<li class="next"><a href="portfolio-single-sidebar.html" class="load-content">next</a></li>
							<li class="prev"><a href="portfolio-single-sidebar.html" class="load-content">prev</a></li>
						</ul>
					</div>

					<ul class="socialmedia-widget social-share">
						<li class="facebook"><a href="#">Facebook</a></li>
						<li class="twitter"><a href="#">Tweet</a></li>
						<li class="googleplus"><a href="#">Google Plus</a></li>
						<li class="pinterest"><a href="#">Pinterest</a></li>
					</ul>

					<div class="entry-media portfolio-media">
					<div class="flexslider portfolio-slider">
						<ul class="slides">
							<li><img src="{{ prepend: site.baseurl }}/files/uploads/g-dark.jpg" alt="SEO IMAGE NAME"/></li>
							<li><img src="{{ prepend: site.baseurl }}/files/uploads/g-light.jpg" alt="SEO IMAGE NAME"/></li>
						</ul>
					</div>
					</div>

					<div class="entry-content portfolio-content">
						<div class="column-row clearfix">
							<div class="column one-third">
								<h5><strong>Client</strong></h5>
								<div class="seperator style-solid size-full seperator-light height-small"><span></span></div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non enim ut enim fringilla adipiscing id in lorem. Quisque aliquet neque vitae lectus tempus consectetur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam at velit nisl. Aenean vitae est nisl.</p>
							</div>
						 <div class="column one-third">
								<h5><strong>Client</strong></h5>
								<div class="seperator style-solid size-full seperator-light height-small"><span></span></div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non enim ut enim fringilla adipiscing id in lorem. Quisque aliquet neque vitae lectus tempus consectetur. Aliquam erat volutpat.</p>
								<p>Nunc eu nibh nulla, id cursus arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam at velit nisl. Aenean vitae est nisl.</p>
							</div>
						 <div class="column one-third last-col">
								<h5><strong>Client</strong></h5>
								<div class="seperator style-solid size-full seperator-light height-small"><span></span></div>
							<p>Aenean non enim ut enim fringilla adipiscing id in lorem. Quisque aliquet neque vitae lectus tempus consectetur. Aliquam erat volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam at velit nisl. Aenean vitae est nisl.</p>
							</div>
						</div>
					</div> <!-- END .entry-content -->

				</div> <!-- END .wrapper -->

				<div class="spacer spacer-big"></div>

			</div> <!-- END #portfolio-single .section-inner -->
    	</section> <!-- END SECTION #portfolio-->
		<!-- PORTFOLIO SECTION -->

      	<!-- FOOTER -->
		<footer>
			<div class="footerinner wrapper align-center text-light">
				<a id="backtotop" href="#" class="sr-button sr-buttonicon small-iconbutton"><i class="fa fa-angle-up"></i></a>
				<p class="footer-logo"><img src="files/uploads/logo-footer.png" alt="Footer Logo"></p>
             	<ul class="socialmedia-widget social-share">
 					<li class="facebook"><a href="#">Facebook</a></li>
  					<li class="twitter"><a href="#">Tweet</a></li>
 					<li class="linkedin"><a href="#">Google Plus</a></li>
 					<li class="dribbble"><a href="#">Dribble</a></li>
 					<li class="behance"><a href="#">Behance</a></li>
 					<li class="instagram"><a href="#">Instagram</a></li>
            	</ul>
            	<p class="copyright">Copyright &copy; 2015</p>
         	</div>
    	</footer>
      	<!-- FOOTER -->

 	</div>

{% include externals/disqus.html %}
