---
layout: default-projects
---
{% include page/title.html %}

{% include page/projects-explore.html %}

{{ content }}

<div id="portfolio-grid3" class="masonry portfolio-entries clearfix" data-maxitemwidth="370">

  <div class="portfolio-masonry-entry masonry-item design">
    <div class="entry-thumb portfolio-thumb">
      <div class="imgoverlay text-light">
        <a href="{{ prepend: site.baseurl }}/work/source-year-end-report">
          <img src="{{ prepend: site.baseurl }}/files/uploads/thumbs/source-year-end-report-thumb.jpg" alt="SEO IMAGE NAME" />
            <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
            <h5 class="portfolio-name"><strong>SOURCE Year End Report</strong></h5>
            <h6>Design</h6></div></div>
        </a>
      </div>
     </div>
  </div>
  <!-- END .portfolio-masonry-entry -->

  <div class="portfolio-masonry-entry masonry-item design branding strategy">
    <div class="entry-thumb portfolio-thumb">
      <div class="imgoverlay text-light">
        <a href="{{ prepend: site.baseurl }}/work/the-community-space">
          <img src="{{ prepend: site.baseurl }}/files/uploads/thumbs/the-community-space.jpg" alt="SEO IMAGE NAME" />
            <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
            <h5 class="portfolio-name"><strong>The Community Space</strong></h5>
            <h6>Design & Tech</h6></div></div>
        </a>
      </div>
     </div>
  </div> <!-- END .portfolio-masonry-entry -->

  <div class="portfolio-masonry-entry masonry-item tech strategy">
    <div class="entry-thumb portfolio-thumb">
      <div class="imgoverlay text-light">
        <a href="{{ prepend: site.baseurl }}/work/writing-center-teams">
          <img src="{{ prepend: site.baseurl }}/files/uploads/thumbs/cwpd-internal-teams.jpg" alt="SEO IMAGE NAME" />
            <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
            <h5 class="portfolio-name"><strong>Creating a Writing Center</strong></h5>
            <h6>Data</h6></div></div>
        </a>
      </div>
     </div>
  </div> <!-- END .portfolio-masonry-entry -->

  <div class="portfolio-masonry-entry masonry-item design">
    <div class="entry-thumb portfolio-thumb">
      <div class="imgoverlay text-light">
        <a href="{{ prepend: site.baseurl }}/work/source-summit-program">
          <img src="{{ prepend: site.baseurl }}/files/uploads/thumbs/thumb-source-summit-program.jpg" alt="SEO IMAGE NAME" />
            <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
            <h5 class="portfolio-name"><strong>SOURCE Summit Program</strong></h5>
            <h6>Design</h6></div></div>
        </a>
      </div>
     </div>
  </div> <!-- END .portfolio-masonry-entry -->

  <div class="portfolio-masonry-entry masonry-item branding design tech">
    <div class="entry-thumb portfolio-thumb">
      <div class="imgoverlay text-light">
        <a href="{{ prepend: site.baseurl }}/work/source-pathways">
          <img src="{{ prepend: site.baseurl }}/files/uploads/thumbs/source-pathways.png" alt="SEO IMAGE NAME" />
            <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
            <h5 class="portfolio-name"><strong>SOURCE Pathways</strong></h5>
            <h6>Design & Tech</h6></div></div>
        </a>
      </div>
     </div>
  </div> <!-- END .portfolio-masonry-entry -->

  <div class="portfolio-masonry-entry masonry-item branding">
    <div class="entry-thumb portfolio-thumb">
      <div class="imgoverlay text-light">
        <a href="{{ prepend: site.baseurl }}/work/claremont-sports-connection-logo">
          <img src="{{ prepend: site.baseurl }}/files/uploads/thumbs/claremont-sports-connection.png" alt="SEO IMAGE NAME" />
            <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
            <h5 class="portfolio-name"><strong>Claremont Sports Connection Rebrand</strong></h5>
            <h6>Branding</h6></div></div>
        </a>
      </div>
     </div>
  </div> <!-- END .portfolio-masonry-entry -->

</div> <!-- END #portfolio-grid1 -->
<!-- Without Title -->
